@model ErrorString
@{ViewData["Title"] = "OrderFailed"; }

<h4>Merchandise</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchResults">
            <div class="form-group">
                <a>@Model.Error</a>
                <div>
                <a>Order Failed. Click to return to List.</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
